[Unit]
Description=Hive Standalone Metastore
After=network.target

[Service]
Type=simple
ExecStart=/opt/hive-metastore/bin/start-metastore
User=hive
Restart=always
StandardOutput=file:/opt/hive-metastore/logs/metastore.out
StandardError=file:/opt/hive-metastore/logs/metastore.err

[Install]
WantedBy=multi-user.target
